@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    /*background-color: lightgray !important;*/

}

.home-video {
    aspect-ratio: 26 / 10;
    background-position: 50%;
    background-size: cover;
    margin-bottom: .5rem;
    overflow: hidden;
    position: relative;
    width: 100%;
}
